<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Notícias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Construção do Parque da Pedreira</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nulla eget odio a risus varius lobortis a nec diam. Proin iaculis nec tellus ac hendrerit. Cras quis metus in
      augue sollicitudin facilisis a non est. Phasellus sed vehicula ligula.
    </ion-card-content>
    <ion-card-content>
      <ion-button size="small" (click)="irNoticia1()">Continuar lendo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Prédio principal pronto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Donec elit eros, tempus et dictum eu, sollicitudin volutpat ex. Suspendisse vitae mollis lacus, nec convallis
      odio. Fusce eu enim scelerisque, ornare lorem in, condimentum nisi.
    </ion-card-content>
    <ion-card-content>
      <ion-button size="small" (click)="irNoticia2()">Continuar lendo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Nunc placerat lacus id mollis eleifend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nulla a nunc mi. Fusce leo tellus, auctor posuere urna id, finibus tristique magna. Pellentesque dignissim urna id
      fermentum ultrices. Nam et commodo erat. Mauris purus arcu, mollis sed blandit vel, suscipit sed augue.
    </ion-card-content>
    <ion-card-content>
      <ion-button size="small" (click)="irNoticia3()">Continuar lendo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Nunc placerat lacus id mollis eleifend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nulla a nunc mi. Fusce leo tellus, auctor posuere urna id, finibus tristique magna. Pellentesque dignissim urna id
      fermentum ultrices. Nam et commodo erat. Mauris purus arcu, mollis sed blandit vel, suscipit sed augue.
    </ion-card-content>
    <ion-card-content>
      <ion-button size="small" (click)="irNoticia3()">Continuar lendo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Nunc placerat lacus id mollis eleifend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nulla a nunc mi. Fusce leo tellus, auctor posuere urna id, finibus tristique magna. Pellentesque dignissim urna id
      fermentum ultrices. Nam et commodo erat. Mauris purus arcu, mollis sed blandit vel, suscipit sed augue.
    </ion-card-content>
    <ion-card-content>
      <ion-button size="small" (click)="irNoticia3()">Continuar lendo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Nunc placerat lacus id mollis eleifend</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nulla a nunc mi. Fusce leo tellus, auctor posuere urna id, finibus tristique magna. Pellentesque dignissim urna id
      fermentum ultrices. Nam et commodo erat. Mauris purus arcu, mollis sed blandit vel, suscipit sed augue.
    </ion-card-content>
    <ion-card-content>
      <ion-button size="small" (click)="irNoticia3()">Continuar lendo</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaHome()">Home</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text>Nossas redes sociais</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="call-outline"></ion-icon>
          <ion-text>(xx) xxxxx-xxxx</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaConheca()">Conheça-nos</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-text>xxxxxxx.xxxxxx</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-text>xxxx@xxxx.xxx</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaNoticias()">Notícias</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-text>@xxxxxx.xxxxx</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaGaleriaFotos()">Galeria de Fotos</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>