<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Conheça-nos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <ion-card-header>
      <ion-img src="../assets/imagens/fachada.jpeg"></ion-img>
      <ion-card-subtitle>
        ESTAÇÃO CIDADANIA, CULTURA E ESPORTE PARQUE DA PEDREIRA
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        O projeto inicio seu desenvolvimento a partir de um contrato assinado em 2011, entre o Poder Executivo
        e o Governo Federal, com valores na casa de R$4,8 milhoes, por meio do PAC, programa de aceleração do
        crecimento. Destaca-se seu inteiro valorizar a area de Ijuí, trazendo a comunidade um novo local
        repleto de atividades de lazer e serviços para melhorar a quilidade de vida de todos.
        <br>
        Caracteriza-se por 4 (quatro) pilares fundamentais, que compõe o CEU - Centro de Artes e Esportes Unificados,
        Quadras e Quiosque (Lago).
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-slide>
        <ion-img src="../assets/imagens/arte1.PNG"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-card-title>Arte e Cultura</ion-card-title>
      </ion-slide>
    </ion-card-header>
    <ion-card-content>Teatro, Danças, Atividades Circenses, Música, Coral, Cinema.</ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-slide>
        <ion-img src="../assets/imagens/esporte1.PNG"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-card-title>Esportes e Lazer</ion-card-title>
      </ion-slide>
    </ion-card-header>
    <ion-card-content>Pró-vôlei e escolinhas esportivas de diversos esportes como, Futsal, Tênis dentre outros.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-slide>
        <ion-img src="../assets/imagens/cultura1.PNG"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-card-title>Educação e Cidadania</ion-card-title>
      </ion-slide>
    </ion-card-header>
    <ion-card-content>Informatica básica com cursos e biblioteca para pesquisa e retirada de livros.</ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-slide>
        <ion-img src="../assets/imagens/social1.PNG"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-card-title>Meio Ambiente, Saúde e Assistencia Social</ion-card-title>
      </ion-slide>
    </ion-card-header>
    <ion-card-content>
      Palestras e oficinas visando a melhoria da qualidade de vida, bem estar social, ambiental e
      qualificação para o mercade de trabalho.
    </ion-card-content>
  </ion-card>

  <ion-slides pager="true">
    <ion-slide>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Inauguração do Parque da Pedreira em Ijuí</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Vivamus id cursus turpis, at consectetur mauris. Donec elementum posuere nisl,
            sed tempus turpis dapibus at. Curabitur in efficitur dui. Mauris auctor libero ipsum.
            Suspendisse sodales aliquet fermentum. Sed aliquam semper elementum. In facilisis sed
            massa sed convallis.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Construção da quadra esportiva</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Mauris commodo nunc nec aliquet faucibus. Maecenas congue nunc sed diam semper scelerisque.
            Mauris pretium tellus eget libero tempor fermentum. Suspendisse non mollis metus.
            Nulla facilisi. Nunc lacinia augue eget massa efficitur, et dignissim nisl malesuada.
            Donec at nulla ut mauris vestibulum mollis. Sed consequat magna at mi pretium, eu finibus
            urna hendrerit. Vestibulum nisi eros, mollis et vestibulum in, iaculis a neque. Quisque
            rhoncus nulla at metus tempus mattis.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Phasellus gravida tincidunt mattis</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            MIn fringilla, magna non aliquet dignissim, diam neque accumsan enim, sed ultrices erat mi vitae lectus.
            Maecenas sodales purus ligula, et consequat est ornare in. In quis tempus enim. Etiam et sodales ipsum.
            Donec elementum nibh risus, in ullamcorper odio accumsan eget. Integer risus eros, tincidunt nec rhoncus
            quis, imperdiet gravida nulla. Donec posuere ante in ipsum viverra elementum.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Phasellus gravida tincidunt mattis</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            MIn fringilla, magna non aliquet dignissim, diam neque accumsan enim, sed ultrices erat mi vitae lectus.
            Maecenas sodales purus ligula, et consequat est ornare in. In quis tempus enim. Etiam et sodales ipsum.
            Donec elementum nibh risus, in ullamcorper odio accumsan eget. Integer risus eros, tincidunt nec rhoncus
            quis, imperdiet gravida nulla. Donec posuere ante in ipsum viverra elementum.
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Inauguração do Parque da Pedreira em Ijuí</ion-card-title>
    </ion-card-header>
    <ion-slides pager="true">
      <ion-slide *ngFor="let img of fotos1">
        <ion-img src="{{img}}"></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Construção da quadra esportiva</ion-card-title>
    </ion-card-header>
    <ion-slides pager="true">
      <ion-slide *ngFor="let img of fotos2">
        <ion-img src="{{img}}"></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-card color="light">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaHome()">Home</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-text>Nossas redes sociais</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="call-outline"></ion-icon>
          <ion-text>(xx) xxxxx-xxxx</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaConheca()">Conheça-nos</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-text>xxxxxxx.xxxxxx</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-text>xxxx@xxxx.xxx</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaNoticias()">Notícias</ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-text>@xxxxxx.xxxxx</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-text (click)="irParaGaleriaFotos()">Galeria de Fotos</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>